
.landing_page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  .logo {
    margin: 4vh 0;
  }
  .frame {
    width: 40vw;
    margin: 4vh 0;
    animation: landingFadeAnim 3s ease-in-out;
  }
  .frame-mobile {
    display: none;
    margin: 4vh 0;
    animation: landingFadeAnim 3s ease-in-out;
  }
  .btns-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 4vh;
    // filled-btn - კლასი გასტილულია global.scss-ში
    button {
      margin: 2vh 0;
      min-width: 387px;
    }
    button:first-child {
      animation: landingBtnAnim1 .4s ease-out;
    }
    button:last-child {
      animation: landingBtnAnim2 .4s ease-out;
    }
  }
}

// ------------------------- animations --------------------
@keyframes landingFadeAnim {
  0% { filter: opacity(0); }
  100% { filter: opacity(1); }
}

@keyframes landingBtnAnim1 {
  0% { margin-left: -400px; }
  60% { margin-left: 80px; }
  80% { margin-left: -40px; }
  100% { margin-left: 0; }
}
@keyframes landingBtnAnim2 {
  0% { margin-right: -400px; }
  60% { margin-right: 80px; }
  80% { margin-right: -40px; }
  100% { margin-right: 0; }
}

// ------------------------- responsive --------------------
@media screen and (max-width: 1100px) {
  .landing_page {
  }
  .frame {
    width: 60vw !important;
  }
}
@media screen and (max-width: 700px) {
  .landing_page {
    .logo {
      margin: 7vh 0 !important;
    }
    .frame {
      display: none;
    }
    .frame-mobile {
      display: block;
      width: 60vw;
      max-height: 40vh;
      object-fit: contain;
    }
    .btns-container {
      margin-bottom: 4vh;
      button {
        font-size: 20px;
        min-width: 80vw;
        padding: 14px 0;
      }
    }
  }
}