
.laptop-info_page {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: $bg-color3;
  padding: 7vh 5vw;
  .logo {
    height: 55px;
    width: 55px;
    margin-top: 5vh;
  }
  form {
    min-width: 70vw;
    background: white;
    padding: 30px;
    border-radius: 15px;
    .form-section {
      display: flex;
      justify-content: space-between;
    }
    .input-container {
      width: 100%;
    }
    .dropdown {
      width: 100%;
      margin: 40px 0 !important;
    }
    .radios-container {
      width: 80%;
      margin: 20px 20px !important;
      h4 { margin-bottom: 15px; }
    }
    input[type="submit"] {
      float: right;
    }
    hr {
      margin: 20px 0;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  .title {
    cursor: pointer;
    font-weight: 22px;
    padding: 5px;
    margin: 8px 10px;
    &.active {
      border-bottom: 2px solid black;
    }
  }
}
.image-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $bg-color3;
  margin-bottom: 10px;
  padding: 10vw;
  border: 2px dashed $btn-color;
  border-radius: 15px;
  &.dragover {
    background: $bg-color1;
  }
  svg {
    display: none;
  }
  &.error {
    border: 2px dashed red;
    background: rgba(255, 0, 0, 0.1);
    padding: 10vh;
    .error-msg {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    p { 
      color: red;
      margin-top: 20px;
    }
    svg {
      display: block;
      fill: rgb(240, 218, 15);;
      height: 26px;
      width: 26px;
    }
  }
  p {
    color: $btn-color;
    margin-bottom: 40px;
  }
}
.uploaded-img-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  min-width: 100%;
  margin-bottom: 10px;
  .remove-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: red;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    svg {
      display: block;
    }
  }
  img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 14px;
    // object-fit: cover;
  }
}
.wrapper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .image-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    svg {
      fill: #BED918;
    }
    p { margin: 0 5px; }
    .img-size { 
      font-size: 12px;
      color: $txt-color3;
    }
  }
  .filled-btn {
    font-size: 14px !important;
    margin: 0px !important;
  }
}

// ------------------------- animations ----------------------
@keyframes laptopFormInputAnim {
  0% { filter: opacity(0); }
  100% { filter: opacity(1); }
}

// ------------------------ responsive -----------------------
@media screen and (max-width: 700px) {
  .laptop-info_page {
    background-color: $bg-color2;
    padding: 0;
    border-radius: 10px 10px 0 0;
    .header {
      padding: 8px 0;
      .title { display: none; }
       // show only active title
      .active { 
        display: block; 
        border: none;
      }
      .active::after {
        content: "2/2";
        display: block;
        text-align: center;
        color: $txt-color2;
        margin-top: 4px;
      }
    }
    form {
      width: 100%;
    }
    .title {
      font-size: 14px;
    }
    .form-section {
      flex-flow: row wrap;
      .input-container {
        width: 100%;
        margin: 20px 0 !important;
      }
      .dropdown {
        margin: 20px 0 !important;
      }
    }
    .text-btn, .filled-btn {
      font-size: 18px;
      max-width: 50%;
      padding: 10px 20px;
      margin-top: 10px;
    }
    .logo {
      display: none;
    }
  }
}

