
.recordings-list_page {
  padding: 7vh 8vw;
  .title {
    text-align: center;
    margin-bottom: 5vh;
  }
}
.recordings-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .recordings-list_page {
    padding: 28px 6vw;
    .title {
      font-size: 20px;
    }
  }
}