@import "./variables.scss";
@import "./pages/landing";
@import "./pages/staffInfo";
@import "./pages/laptopInfo";
@import "./pages/success";
@import "./pages/recordingsList";
@import "./pages/recordingDetails";
@import "./components/navigationBtn";
@import "./components/recordingItem";
@import "./components/customSelect";
@import "./components/textInput";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
}

.select-container {
  width: 100%;
  p {
    font-size: 14px;
    color: red;
    margin-top: -30px;
  }
}
select {
  border: none;
  outline: none;
  display: block;
  height: 45px;
  width: 100%;
  font-weight: 600;
  background-color: $bg-color2;
  padding: 12px;
  margin: 40px 0;
  border-radius: 8px;
}
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $bg-color2;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
option:hover {
  background: grey;
  color: white;
}

.radios-container {
  width: 100%;
  h4 {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
  label {
    margin-right: 20px;
  }
}

.filled-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: $btn-color;
  padding: 10px 60px;
  border: none;
  border-radius: 8px;
  &:hover {
    background: $btn-color-light;
  }
  &:active {
    background: $btn-color-dark;
  }
}
.text-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: $btn-color;
  background: transparent;
  padding: 10px 60px;
  border: none;
}