@import "./variables.scss";
@import "./pages/landing";
@import "./pages/staffInfo";
@import "./pages/laptopInfo";
@import "./pages/success";
@import "./pages/recordingsList";
@import "./pages/recordingDetails";
@import "./components/navigationBtn";
@import "./components/recordingItem";
@import "./components/customDropdown";
@import "./components/textInput";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
}

.radios-container {
  width: 100%;
  h4 {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
  label {
    margin-right: 20px;
  }
  .error {
    font-size: 14px;
    color: red;
  }
}

.filled-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: $btn-color;
  padding: 10px 60px;
  border: none;
  border-radius: 8px;
  &:hover {
    background: $btn-color-light;
  }
  &:active {
    background: $btn-color-dark;
  }
}
.text-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: $btn-color;
  background: transparent;
  padding: 10px 60px;
  border: none;
}

